$border-rounded-default: 4px;
$border-rounded-full: 50%;
$border-rounded-lg: 8px;
$border-rounded-none: 0px;
$border-rounded-pill: 9999px;
$border-rounded-sm: 2px;
$border-rounded-xl: 12px;
$border-style-dashed: dashed;
$border-style-solid: solid;
$border-width-1: 1px;
$border-width-2: 2px;
$border-width-3: 3px;
$colors-error-100: #fdebeb;
$colors-error-200: #facdcd;
$colors-error-300: #faaaaa;
$colors-error-400: #fd7e7e;
$colors-error-500: #ff4646;
$colors-error-600: #ec0000;
$colors-error-700: #ca001b;
$colors-error-800: #a60000;
$colors-error-900: #860000;
$colors-informational-100: #e5f0fe;
$colors-informational-200: #bfdbfc;
$colors-informational-300: #95c2fb;
$colors-informational-400: #68a7f8;
$colors-informational-500: #428bf1;
$colors-informational-600: #2c73df;
$colors-informational-700: #285eba;
$colors-informational-800: #214d99;
$colors-informational-900: #1a3e7a;
$colors-neutral-100: #ffffff;
$colors-neutral-200: #f7f7f7;
$colors-neutral-300: #ececec;
$colors-neutral-400: #d2d1d2;
$colors-neutral-500: #b4b4b5;
$colors-neutral-600: #999999;
$colors-neutral-700: #5b5b5b;
$colors-neutral-800: #282828;
$colors-neutral-900: #000000;
$colors-primary-100: #e1f3f0;
$colors-primary-200: #b5e1da;
$colors-primary-300: #1ed6bb;
$colors-primary-400: #0cb99f;
$colors-primary-500: #019881;
$colors-primary-600: #018571;
$colors-primary-700: #016e5e;
$colors-primary-800: #015b4d;
$colors-primary-900: #00483e;
$colors-quaternary-100: #ffedc6;
$colors-quaternary-200: #ffd372;
$colors-quaternary-300: #ffb000;
$colors-quaternary-400: #db9700;
$colors-quaternary-500: #ba8000;
$colors-quaternary-600: #9d6c00;
$colors-quaternary-700: #835a00;
$colors-quaternary-800: #6b4a00;
$colors-quaternary-900: #553b00;
$colors-quintenary-100: #f5efdd;
$colors-quintenary-200: #e5d8ae;
$colors-quintenary-300: #cabe99;
$colors-quintenary-400: #aea483;
$colors-quintenary-500: #948b6f;
$colors-quintenary-600: #7d755d;
$colors-quintenary-700: #68624d;
$colors-quintenary-800: #55503f;
$colors-quintenary-900: #443f31;
$colors-secondary-100: #fdebeb;
$colors-secondary-200: #facdcd;
$colors-secondary-300: #fca9a9;
$colors-secondary-400: #fe7d7d;
$colors-secondary-500: #ff6b6b;
$colors-secondary-600: #c25151;
$colors-secondary-700: #a14444;
$colors-secondary-800: #843838;
$colors-secondary-900: #6a2c2c;
$colors-success-100: #e0f5d9;
$colors-success-200: #bce3ac;
$colors-success-300: #8ed075;
$colors-success-400: #6cc24a;
$colors-success-500: #16a135;
$colors-success-600: #11882b;
$colors-success-700: #0c7223;
$colors-success-800: #085d1b;
$colors-success-900: #054a14;
$colors-tertiary-100: #f2edf9;
$colors-tertiary-200: #e0d2f3;
$colors-tertiary-300: #d3bdf2;
$colors-tertiary-400: #b794e9;
$colors-tertiary-500: #a375e2;
$colors-tertiary-600: #8f58dc;
$colors-tertiary-700: #7b3ad6;
$colors-tertiary-800: #6628bd;
$colors-tertiary-900: #512098;
$colors-warning-100: #fcf1cf;
$colors-warning-200: #f7de8b;
$colors-warning-300: #f1c73d;
$colors-warning-400: #edb600;
$colors-warning-500: #d1a100;
$colors-warning-600: #bb9000;
$colors-warning-700: #a68000;
$colors-warning-800: #916f00;
$colors-warning-900: #7d6000;
$opacity-0: 0;
$opacity-10: 0.1;
$opacity-15: 0.15;
$opacity-20: 0.2;
$opacity-25: 0.25;
$opacity-30: 0.3;
$opacity-35: 0.35;
$opacity-40: 0.4;
$opacity-45: 0.45;
$opacity-5: 0.05;
$opacity-50: 0.5;
$opacity-55: 0.65;
$opacity-60: 0.6;
$opacity-65: 0.65;
$opacity-70: 0.7;
$opacity-75: 0.75;
$opacity-80: 0.8;
$opacity-85: 0.85;
$opacity-90: 0.9;
$opacity-95: 0.95;
$spacing-huge: 40px;
$spacing-lg: 20px;
$spacing-md: 16px;
$spacing-sm: 12px;
$spacing-x-huge: 48px;
$spacing-x-lg: 24px;
$spacing-x-sm: 8px;
$spacing-xx-huge: 64px;
$spacing-xx-lg: 28px;
$spacing-xx-sm: 4px;
$spacing-xxx-huge: 80px;
$spacing-xxx-lg: 32px;
$typography-font-bold: 700;
$typography-font-book: 400;
$typography-font-extrabold: 800;
$typography-font-extralight: 200;
$typography-font-light: 300;
$typography-font-medium: 500;
$typography-font-normal: 400;
$typography-font-semibold: 600;
$typography-font-thin: 100;
$typography-font-family-1: DM Sans;
$typography-font-family-2: DM Sans;
$typography-leading-5: 120%;
$typography-leading-6: 150%;
$typography-text-2-xl: 1.728rem;
$typography-text-3-xl: 2.074rem;
$typography-text-4-xl: 2.488rem;
$typography-text-base: 1rem;
$typography-text-lg: 1.2rem;
$typography-text-sm: 0.833rem;
$typography-text-xl: 1.44rem;
$typography-text-xs: 0.694rem;
$typography-text-decoration-no-underline: none;
$typography-text-decoration-underline: underline;
$typography-text-transform-capitalize: capitalize;
$typography-text-transform-lowercase: lowercase;
$typography-text-transform-normal-case: none;
$typography-text-transform-uppercase: uppercase;
$tokens: (
  'border': (
    'rounded': (
      'default': $border-rounded-default,
      'full': $border-rounded-full,
      'lg': $border-rounded-lg,
      'none': $border-rounded-none,
      'pill': $border-rounded-pill,
      'sm': $border-rounded-sm,
      'xl': $border-rounded-xl,
    ),
    'style': (
      'dashed': $border-style-dashed,
      'solid': $border-style-solid,
    ),
    'width': (
      '1': $border-width-1,
      '2': $border-width-2,
      '3': $border-width-3,
    ),
  ),
  'colors': (
    'error': (
      '100': $colors-error-100,
      '200': $colors-error-200,
      '300': $colors-error-300,
      '400': $colors-error-400,
      '500': $colors-error-500,
      '600': $colors-error-600,
      '700': $colors-error-700,
      '800': $colors-error-800,
      '900': $colors-error-900,
    ),
    'informational': (
      '100': $colors-informational-100,
      '200': $colors-informational-200,
      '300': $colors-informational-300,
      '400': $colors-informational-400,
      '500': $colors-informational-500,
      '600': $colors-informational-600,
      '700': $colors-informational-700,
      '800': $colors-informational-800,
      '900': $colors-informational-900,
    ),
    'neutral': (
      '100': $colors-neutral-100,
      '200': $colors-neutral-200,
      '300': $colors-neutral-300,
      '400': $colors-neutral-400,
      '500': $colors-neutral-500,
      '600': $colors-neutral-600,
      '700': $colors-neutral-700,
      '800': $colors-neutral-800,
      '900': $colors-neutral-900,
    ),
    'primary': (
      '100': $colors-primary-100,
      '200': $colors-primary-200,
      '300': $colors-primary-300,
      '400': $colors-primary-400,
      '500': $colors-primary-500,
      '600': $colors-primary-600,
      '700': $colors-primary-700,
      '800': $colors-primary-800,
      '900': $colors-primary-900,
    ),
    'quaternary': (
      '100': $colors-quaternary-100,
      '200': $colors-quaternary-200,
      '300': $colors-quaternary-300,
      '400': $colors-quaternary-400,
      '500': $colors-quaternary-500,
      '600': $colors-quaternary-600,
      '700': $colors-quaternary-700,
      '800': $colors-quaternary-800,
      '900': $colors-quaternary-900,
    ),
    'quintenary': (
      '100': $colors-quintenary-100,
      '200': $colors-quintenary-200,
      '300': $colors-quintenary-300,
      '400': $colors-quintenary-400,
      '500': $colors-quintenary-500,
      '600': $colors-quintenary-600,
      '700': $colors-quintenary-700,
      '800': $colors-quintenary-800,
      '900': $colors-quintenary-900,
    ),
    'secondary': (
      '100': $colors-secondary-100,
      '200': $colors-secondary-200,
      '300': $colors-secondary-300,
      '400': $colors-secondary-400,
      '500': $colors-secondary-500,
      '600': $colors-secondary-600,
      '700': $colors-secondary-700,
      '800': $colors-secondary-800,
      '900': $colors-secondary-900,
    ),
    'success': (
      '100': $colors-success-100,
      '200': $colors-success-200,
      '300': $colors-success-300,
      '400': $colors-success-400,
      '500': $colors-success-500,
      '600': $colors-success-600,
      '700': $colors-success-700,
      '800': $colors-success-800,
      '900': $colors-success-900,
    ),
    'tertiary': (
      '100': $colors-tertiary-100,
      '200': $colors-tertiary-200,
      '300': $colors-tertiary-300,
      '400': $colors-tertiary-400,
      '500': $colors-tertiary-500,
      '600': $colors-tertiary-600,
      '700': $colors-tertiary-700,
      '800': $colors-tertiary-800,
      '900': $colors-tertiary-900,
    ),
    'warning': (
      '100': $colors-warning-100,
      '200': $colors-warning-200,
      '300': $colors-warning-300,
      '400': $colors-warning-400,
      '500': $colors-warning-500,
      '600': $colors-warning-600,
      '700': $colors-warning-700,
      '800': $colors-warning-800,
      '900': $colors-warning-900,
    ),
  ),
  'opacity': (
    '0': $opacity-0,
    '5': $opacity-5,
    '10': $opacity-10,
    '15': $opacity-15,
    '20': $opacity-20,
    '25': $opacity-25,
    '30': $opacity-30,
    '35': $opacity-35,
    '40': $opacity-40,
    '45': $opacity-45,
    '50': $opacity-50,
    '55': $opacity-55,
    '60': $opacity-60,
    '65': $opacity-65,
    '70': $opacity-70,
    '75': $opacity-75,
    '80': $opacity-80,
    '85': $opacity-85,
    '90': $opacity-90,
    '95': $opacity-95,
  ),
  'spacing': (
    'huge': $spacing-huge,
    'lg': $spacing-lg,
    'md': $spacing-md,
    'sm': $spacing-sm,
    'x-huge': $spacing-x-huge,
    'x-lg': $spacing-x-lg,
    'x-sm': $spacing-x-sm,
    'xx-huge': $spacing-xx-huge,
    'xx-lg': $spacing-xx-lg,
    'xx-sm': $spacing-xx-sm,
    'xxx-huge': $spacing-xxx-huge,
    'xxx-lg': $spacing-xxx-lg,
  ),
  'typography': (
    'font': (
      'bold': $typography-font-bold,
      'book': $typography-font-book,
      'extrabold': $typography-font-extrabold,
      'extralight': $typography-font-extralight,
      'light': $typography-font-light,
      'medium': $typography-font-medium,
      'normal': $typography-font-normal,
      'semibold': $typography-font-semibold,
      'thin': $typography-font-thin,
    ),
    'font-family': (
      '1': $typography-font-family-1,
      '2': $typography-font-family-2,
    ),
    'leading': (
      '5': $typography-leading-5,
      '6': $typography-leading-6,
    ),
    'text': (
      '2xl': $typography-text-2-xl,
      '3xl': $typography-text-3-xl,
      '4xl': $typography-text-4-xl,
      'base': $typography-text-base,
      'lg': $typography-text-lg,
      'sm': $typography-text-sm,
      'xl': $typography-text-xl,
      'xs': $typography-text-xs,
    ),
    'text-decoration': (
      'no-underline': $typography-text-decoration-no-underline,
      'underline': $typography-text-decoration-underline,
    ),
    'text-transform': (
      'capitalize': $typography-text-transform-capitalize,
      'lowercase': $typography-text-transform-lowercase,
      'normal-case': $typography-text-transform-normal-case,
      'uppercase': $typography-text-transform-uppercase,
    ),
  ),
);
